$lt-gray: #ddd;
$background-dark: #512da8;
$background-moredark: #6c6e6e;
$background-light: #9575cd;
$background-pale: #d1c4e9;

.active {
  background: $background-moredark;
}

.toolbar {
  position: fixed;
  z-index: 999;
}

.mat-toolbar.mat-primary {
  background: #000000;
  color: white;
}

.example-spacer {
  width: 25px;
}