<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <!-- <span>Table 9</span> -->
    <span><img src="/assets/images/PATIENT SNAPMAP white outline thicker.png" height=40 width=261></span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/home" routerLinkActive="active"> Note</a>
    <a mat-button routerLink="/timeline" routerLinkActive="active"> Timeline</a>
    <!-- <a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu</a>
  <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a> -->
  </mat-toolbar-row>
</mat-toolbar>