<app-header></app-header>

<body>
  <h2>Write Note</h2>
  <p>Please write your note for the patient.</p>
  <div class="example-container">
    <mat-form-field class="full-width">
      <input matInput id="note" placeholder="Patient ID" style="font-size: 25px;" [value]="pid" disabled>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput id="note" [(ngModel)]="note" placeholder="Write note" rows="12" style="font-size: 25px;"></textarea>
    </mat-form-field>
    <button mat-stroked-button [disabled]="note == ''" (click)="onSubmit()">Submit</button>
  </div>
</body>